<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tiendas</title>
	<!-- AÑADIR CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!-- AÑADIR FUENTES DESDE GOOGLE -->
	<!-- NUNITO SANS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
	
<body>
	<div class="container_tiendas">
		<nav>
			<div class="nav_logo">
				<a href="#">
				<img src="../assets/img/logo.png" alt="logo" style="width:100%; height:auto; max-width: 300px; min-width: 40px; ">
				</a>
			</div>

			<div class="nav_links">
				<ul>
					<li><a href="../index.html">Inicio</a></li>
					<li><a href="nuestracarta.html">Nuestra carta</a></li>
					<li><a href="historia.html">Nuestra historia</a></li>
					<li><a href="#">Tiendas</a></li>
					<li><a href="contacto.html">Contacto</a></li>
				</ul>
			</div>
		</nav>

	<main>
		
		<div class="nuestracarta_productos" >
			<p> Nuestra carta incluye una selección de productos con éxoticos sabores, preparados con mimo
			por nuestro staff para garantizar una experiencia increíble</p>
			<h2 class="pagina_titulo" style="color: #87AB53" >Nuestras Bebidas</h2>
			<table border="0" cellpadding="5">
				<tr>
					<th>Producto</th>
					<th>Descripción</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td>Té Matcha</td>
					<td>Té verde japonés con leche de soja</td>
					<td>2,50€</td>
				</tr>
				<tr>
					<td>Té Bubble tea</td>
					<td>Té con bolas de tapioca</td>
					<td>3,50€</td>
				</tr>
			</table>

			<h2 class="pagina_titulo" style="color: #87AB53">Nuestros Postres</h2>
			<table border="0" cellpadding="5">
				<tr>
					<th>Producto</th>
					<th>Descripción</th>
					<th>Precio</th>
				</tr>
				<tr>
					<td>Pastel con Fresas</td>
					<td>Pastel esponjoso de nata con fresas</td>
					<td>4,50€</td>
				</tr>
				<tr>
					<td>Pastel Nata</td>
					<td>Pastel con nata fresca y vainilla</td>
					<td>3,50€</td>
				</tr>
			</table>
		</div>

		<footer>
			
		<!-- REDES SOCIALES -->
		
			<h4>Síguenos</h4>
			<img src="../assets/img/facebook.png" alt="facebook logo" class="logo_redes">

			<img src="../assets/img/insta.png" alt="insta logo" class="logo_redes">
		
		<!-- CONTACTO -->
		
			<li><a href="views/contacto.html">Contacto</a></li>
		
		</footer>
		
	</div>

</body>

</html>