<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tiendas</title>
	<!-- AÑADIR CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<!-- AÑADIR FUENTES DESDE GOOGLE -->
	<!-- NUNITO SANS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>
	
<body>
	<div class="container_tiendas">
		<nav>
			<div class="nav_logo">
				<a href="#">
				<img src="../assets/img/logo.png" alt="logo" style="width:100%; height:auto; max-width: 300px; min-width: 40px; ">
				</a>
			</div>

			<div class="nav_links">
				<ul>
					<li><a href="../index.html">Inicio</a></li>
					<li><a href="nuestracarta.html">Nuestra carta</a></li>
					<li><a href="historia.html">Nuestra historia</a></li>
					<li><a href="#">Tiendas</a></li>
					<li><a href="contacto.html">Contacto</a></li>
				</ul>
			</div>
		</nav>

		<main class="mapa">
			

			<div class="mapa_ubicacion" >
				<h3>UBICACIÓN</h3> <br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9777.35515658556!2d6.8943071!3d52.2190624!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x343478970efd0654!2sAchai!5e0!3m2!1sen!2snl!4v1643010139245!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
							
			</div>

			<div class="mapa_direcciones">
				TIENDA 1 <br>
				Nombre de la tienda <br>
				Dirección:C/Nombredelacalla n:XX <br>
				Telf:XXX-XXX-XXX <br>
				mail:nombre@mail.es <br> <br>

				TIENDA 2 <br>
				Nombre de la tienda <br>
				Dirección:C/Nombredelacalla n:XX <br>
				Telf:XXX-XXX-XXX <br>
				mail:nombre@mail.es <br> <br>

				TIENDA 3 <br>
				Nombre de la tienda <br>
				Dirección:C/Nombredelacalla n:XX <br>
				Telf:XXX-XXX-XXX <br>
				mail:nombre@mail.es <br> <br>
					
			</div>
		
		</main>

		<footer>
			
		<!-- REDES SOCIALES -->
		
			<h4>Síguenos</h4>
			<img src="../assets/img/facebook.png" alt="facebook logo" class="logo_redes">

			<img src="../assets/img/insta.png" alt="insta logo" class="logo_redes">
		
		<!-- CONTACTO -->
		
			<li><a href="views/contacto.html">Contacto</a></li>
		
		</footer>
		
	</div>

</body>

</html>